/* TODO: replace height and width with better radius*/

.bubbleContainer{
    width: 80%;
    height: 80%;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.wrapper{
    overflow: auto;
}

.sideMenu{
    float: right;
}