/* TODO: replace height and width with better radius*/

.playTable{
    width: 100%;
    height: 80%;
}

.playAreaTd{
    width: 80%;
}

.bubbleContainer{
    width: 100%;
    height: 100%;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.sideMenuDiv{
    vertical-align: top;
}

.scoreAreaTd
{
    text-align: center;
    vertical-align: top;
}

.scoreSpanText{
    font-size: large;
    font-weight: bold;
}

.scoreSpanValue{
    font-size: x-large;
    font-weight: bold;
}

.weaponDiv{
    margin-top: 5px;
}

.weaponDiv > button{
    width: 70%;
}